body{
    padding: 0;
    margin: 0;
}

.container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}

.thumb{
    position: absolute;
    bottom: -20%;
    margin: 0 auto;
    padding: 0;
}

.thumb li{

    box-sizing: border-box;
    float: left;
    list-style: none;
    margin: 0 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    
}

.thumb li:hover{

    border-bottom: 2px solid #000;

}

.thumb li img{

    width: 100%;
}

.imageBox{

    width: 500px;
    height: 500px;
    float: left;
    overflow: hidden;
}

.imageBox img{

    width: 100%;
}



